<br>
<h1>My Cryptocurrency Portfolio</h1>
<br>
<table class="table table-info table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Current Price</th>
      <th>24 Hour Change</th>
      <th>Amount Owned</th>
      <th>Dollar Cost Average</th>
      <th>Total Invested</th>
      <th>Current Value</th>
      <th>Profit/Loss</th>
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
      <% if crypto.user_id == current_user.id %>
        <% if crypto.symbol %>
          <% crypto.symbol = crypto.symbol.upcase %>
        <% end %>
        <tr>
        <% for x in @lookup_crypto['data'] %>
            <% if crypto.symbol == x['symbol'] %>
              <td><%= link_to x['name'], crypto %> </td>
              <td><%= crypto.symbol %></td>
              <td>$<%= x['quote']['USD']['price'] %></td>
              <td><%= x['quote']['USD']['percent_change_24h'] %>%</td>
              <td><%= crypto.amount_owned %></td>
              <td><%= number_to_currency(crypto.cost_per) %></td>
              <td><%= number_to_currency(crypto.cost_per * crypto.amount_owned) %></td>
              <td> <%= number_to_currency(x['quote']['USD']['price'].to_d * crypto.amount_owned) %> </td>
              <td><%= number_to_currency((x['quote']['USD']['price'].to_d * crypto.amount_owned) - (crypto.cost_per * crypto.amount_owned))%></td>
              <% @profit_loss += (x['quote']['USD']['price'].to_d * crypto.amount_owned) - (crypto.cost_per * crypto.amount_owned)%>
            <% end %>
        <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br/>
<strong>Portfolio Profit/Loss: </strong><%= number_to_currency(@profit_loss)%>
<br>
<br>
<%= link_to 'New Crypto', new_crypto_path, class: "btn btn-outline-success" %>
