<br/>
<br/>
<h2>Selected Purchase</h2>
<br/>
<p>
  <strong>Symbol:</strong>
  <%= @crypto.symbol.upcase %>
</p>

<p>
  <strong>Cost per:</strong>
  <%= number_to_currency(@crypto.cost_per) %>
</p>

<p>
  <strong>Amount owned:</strong>
  <%= @crypto.amount_owned %>
</p>

<%= link_to 'Edit', edit_crypto_path(@crypto) %> |
<%= link_to 'Delete', crypto_path(@crypto), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', cryptos_path %>
